body{
  margin: 0;
}

section{
  position: absolute;
  max-width: 960px;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
}


/*TOPNAV*/
.topnav{
  max-width: 960px;
  display:flex;
  align-items: center;
  background-color: #e6002d;
  margin:auto;
  margin-top: 35px;
}

#menuicon{
  display:none;
}

.topnav a{
  color:white;
  text-decoration: none;
  padding: 25px 25px;
  border-left: 1px solid white;
  font-weight: bold; 
}

.topnav img{
  max-width: 200px;
  padding: 10px
}


@media only screen and (max-width: 1000px) {

section{
  margin: auto;
  text-align: center;
}

  /*TOPNAV*/
.topnav{
  width:960px;
  display:flex;
  align-items: center;
  background-color: #e6002d;
  margin:auto;
  margin-top: 35px;
}

#menuicon{
  position:absolute;
  display:block;
  font-size: 30px;
  color: white;
  margin-left: 850px;
}

.menuList{
  display: block;
  position: absolute;
  background-color: #811228;
  min-width: 960px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 145px;
}

.menuList a{
  float: none;
  color: white;
  padding: 15px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border-left: none;
}

#menuList {
  overflow:hidden;
  transition: 0.5s;
}

.menuList a:nth-of-type(5){
  display:none;
}

.topnav img{
  max-width: 200px;
  padding: 10px
}



/*STATISTICS*/
.stats-container{
  position: relative;
  max-width: 700px;
  padding: 15px 0;
  left: 18%;
}

.club-stats img, .player-stats img{
  width: 100%;
}

.title{
  color:#e6002d;
  font-size: 25px;
  align-items: center;
  position: relative;
  width: fit-content;
}

.title img{
  width: 50px;
}

.club-stats, .player-stats{
  border: black 2px solid;
  width: fit-content;
}

.stats-button button{
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding-bottom: 15px;
  padding-top: 15px;
  font-weight: bold;
  font-size: 25px;
  color: grey;
  margin: 0px 15px;
}

.stats-button button:nth-of-type(1){
  color:black;
}

.stats-button button:hover{
  color: darkgray;
}

.stats-button{
  width: fit-content;
  margin:auto;
}

}





/*SLIDE SHOW*/
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
    width: 960px;
    position: relative;
    margin: auto;
    padding-top: 10px;
}

/* The dots/bullets/indicators */
.dot-bar{
  position: absolute;
  bottom: 3px;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {


  .text {font-size: 11px}
}

hr{
  border: 1px solid #e6002d;
  width: 960px;
}




/*SCHEDULE*/
.schedule img{
  width: 960px;
  margin: auto;
  padding-top: 10px;
}



/*AD*/
.ad-container img{
  width: 24.5%;
  padding: 30px 3px;
  padding-bottom: 20px;
}

.ad-container{
  display: flex;
  min-width: 955px;
}

@media only screen and (min-width: 1000px) {
/*STATISTICS*/
.stats-container{
  display: inline-flex;
  align-items: center;
  min-width: 955px;
  padding-bottom: 40px;
}

.stats-child{
  padding: 10px 15px;
}

.title{
  color:#e6002d;
  font-size: large;
  align-items: center;
  position: relative;
  width: fit-content;
}

.club-stats, .player-stats{
  border: black 2px solid;
  width: fit-content;
}

.stats-button button{
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding-bottom: 15px;
  padding-top: 15px;
  font-weight: bold;
  font-size: 18px;
  color: grey;
  margin: 0px 6px;
}

.stats-button button:nth-of-type(1){
  color:black;
}

.stats-button button:hover{
  color: darkgray;
}

.stats-button{
  width: fit-content;
  margin:auto;
}

.club-stats img, .player-stats img{
  width: 100%;
}
}



.bot-logo{
  width: 960px;
}

/*BOTNAV*/
.botnav-container img{
  position: relative;
  max-width: 960px;
  padding-bottom: 30px;
}

.botnav-buttons{
  position: absolute;
  bottom: 40px;
  right: -100px;
}

.botnav-buttons img{
  width: 13%;
  border-radius: 50%;
  padding: 0px 0px;
  margin: 0px -3px;
}


/*UNDER CONSTRUCTION*/

.under-construction{
  max-width: 960px;
}
